body {
    background-color: #411d1d;
    margin: 20px;
    font-family: sans-serif;
    color: #fff;
}

img {
    width: 50%;
}

div {
    margin-bottom: 20px
}

a {
    color: lightblue;
    text-decoration: none;
    font-size: 20px;
}